a {
  text-decoration: none;
}
Link {
  text-decoration: none;
}
.loginBtn {
  text-align: center;
  color: #ef4848;
  font-weight: 800;
  background: #ffffff;
  background-blend-mode: hard-light;
  border-radius: 250px;
  letter-spacing: 1px;
}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #f1f1f1;
}
